<!-- Aquí va el formulario de sign_up -->
{% extends 'layout/base_nav_home.html' %}
{% load static %}
{% block title %}Registrarse{% endblock %}
<!-- Seccion de contenido  -->
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5 mb-5">
                <div class="card-header bg-primary text-white text-center">
                    <h2>Crear cuenta</h2>
                </div>
                <div class="card-body">
                    {% if error|length > 0 and form.username.value|length > 0 and form.email.value|length > 0 and form.password1.value|length > 0 and form.password2.value|length > 0 %}
                        <div class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                    {% endif %}
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="id_username">Nombre de usuario</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                                <input type="text" name="username" maxlength="150" autofocus="" class="form-control" required="" id="id_username" value="{{request.POST.username}}">
                            </div>

                            {% if form.username.errors %}
                            <div class="text-danger mt-1">
                                {% for error in form.username.errors %}
                                <small>{{ error }}</small>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <!-- <div class="form-group mb-3">
                            <label for="id_email">Dirección de correo electrónico</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                                <input type="email" name="email" maxlength="254" class="form-control" id="id_email" value="{{request.POST.email}}" required="">
                            </div>
                            {% if form.email.errors %}
                            <div class="text-danger mt-1">
                                {% for error in form.email.errors %}
                                <small>{{ error }}</small>
                                {% endfor %}
                            </div>
                            {% endif %}
                        
                        </div> -->

                        <div class="form-group mb-3">
                            <label for="id_password1">Contraseña</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                                <input type="password" name="password1" autocomplete="new-password" class="form-control" required="" aria-describedby="id_password1_helptext" id="id_password1" value="{{request.POST.password1}}">
                            </div>

                            {% if form.password1.errors %}
                            <div class="text-danger mt-1">
                                {% for error in form.password1.errors %}
                                <small>{{ error }}</small>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>


                        <div class="form-group mb-3">
                            <label for="id_password2">Contraseña (confirmación)</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                               <input type="password" name="password2" autocomplete="new-password" class="form-control" required="" aria-describedby="id_password2_helptext" id="id_password2" value="{{request.POST.password2}}">
                            </div>
                            {% if form.password2.errors %}
                            <div class="text-danger mt-1">
                                {% for error in form.password2.errors %}
                                <small>{{ error }}</small>
                                {% endfor %}
                            </div>
                            {% endif %}
                            
                        </div> 

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center ">
                    <p>¿Ya tienes una cuenta? <a href="{% url 'sign_in' %}">Iniciar sesión</a></p>
                </div>
            </div>
        </div>
        {% endblock %}