{% extends 'layout/base_nav.html' %}

{% load static %}
{% block title %}{{title}}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock %}


{% block content %}

<div class="container">
    <header class="page-header">
        <h1 class="display-5 fw-bold text-primary">
            <i class="fas fa-user-md me-2"></i>{{ title }}
        </h1>
        <p class="lead text-muted">{{title}}</p>
    </header>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card mb-4">
                <div class="card-body p-4">
                    {% if error|length > 0 %}
                    <div class="alert alert-danger " role="alert" style="background-color: #f8d7da;color: #721c24;">
                        {{error}}
                    </div>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}

                        <!-- Recuadro para año y mes  tipo_permiso  -->
                        <div class="mb-4">
                            <label for="id_tipo_permiso" class="form-label">
                                <i class="text-primary me-2"></i>{{ form.tipo_permiso.label }}
                            </label>
                            {{ form.tipo_permiso }}
                            <div class="form-text text-muted">Seleccione tipo de permiso</div>
                            {% if form.tipo_permiso.errors %}
                            <div class="text-danger mt-1">{{ form.tipo_permiso.errors }}</div>
                            {% endif %}
                        </div>


                        <div class="mb-4">
                            <label for="id_employee" class="form-label">
                                <i class="fas fa-user text-primary me-2"></i>{{ form.employee.label }}
                            </label>
                            {{ form.employee }}
                            <div class="form-text text-muted">Seleccione empleado</div>
                            {% if form.employee.errors %}
                            <div class="text-danger mt-1">{{ form.employee.errors }}</div>
                            {% endif %}
                        </div>


                        <!-- Recuadro para año y mes -->
                        <div class="mb-4">
                            <div class="border p-3 rounded bg-light">
                                <h5 class="text-primary mb-2">Periodo a pagar</h5>
                                <div class="row">
                                    <!-- Campo Año -->
                                    <div class="col-md-6">
                                        <label for="{{ form.year.id_for_label }}" class="form-label">
                                            <i class="fas fa-calendar-alt text-primary me-2"></i>{{ form.year.label }}
                                        </label>
                                        {{ form.year }}
                                        <div class="form-text text-muted" id="yearHelp">
                                            Seleccione el año
                                        </div>
                                        {% if form.year.errors %}
                                        <div class="text-danger mt-1">
                                            {{ form.year.errors }}
                                        </div>
                                        {% endif %}
                                    </div>

                                    <!-- Campo Mes -->
                                    <div class="col-md-6">
                                        <label for="{{ form.month.id_for_label }}" class="form-label">
                                            <i class="fas fa-clock text-primary me-2"></i>{{ form.month.label }}
                                        </label>
                                        {{ form.month }}
                                        <div class="form-text text-muted" id="monthHelp">
                                            Seleccione el mes
                                        </div>
                                        {% if form.month.errors %}
                                        <div class="text-danger mt-1">
                                            {{ form.month.errors }}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Honorarios -->
                        <div class="mb-4">
                            <label for="id_salary" class="form-label">
                                <i class="fas fa-money-bill-wave text-primary me-2"></i>{{ form.salary.label }}
                            </label>
                            {{ form.salary }}
                            <div class="form-text text-muted">Este campo se llena automáticamente.</div>
                            {% if form.salary.errors %}
                            <div class="text-danger mt-1">{{ form.salary.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="mb-4">
                            <label for="{{ form.overtime_hours.id_for_label }}" class="form-label">
                                <i class="fas fa-money-bill-wave text-primary me-2"></i>{{ form.overtime_hours.label }}
                            </label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                {{ form.overtime_hours }}
                            </div>
                            <div class="form-text text-muted" id="emailHelp">
                                Ingrese el monto sin el signo de dólar. Ejemplo: 120.00
                            </div>
                            {% if form.overtime_hours.errors %}
                            <div class="text-danger mt-1">
                                {{ form.overtime_hours.errors }}
                            </div>
                            {% endif %}
                        </div>

                        <div class="mb-4">
                            <label for="{{ form.bonus.id_for_label }}" class="form-label">
                                <i class="fas fa-money-bill-wave text-primary me-2"></i>{{ form.bonus.label }}
                            </label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                {{ form.bonus }}
                            </div>
                            <div class="form-text text-muted" id="emailHelp">
                                Ingrese el monto sin el signo de dólar. Ejemplo: 120.00
                            </div>
                            {% if form.bonus.errors %}
                            <div class="text-danger mt-1">
                                {{ form.bonus.errors }}
                            </div>
                            {% endif %}
                        </div>


                        <div class="d-flex justify-content-between mt-4 pt-2">
                            <a href="{% url 'payroll:list_payslip' %}" class="btn btn-secondary" style="color:white;">
                                <i class="fas fa-arrow-left me-2"></i>Cancelar
                            </a>
                            <button type="submit" class="btn btn-primary" style="color:white;">
                                <i class="fas fa-save me-2"></i>Guardar Rol
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'payroll:dashboard' %}" class="text-decoration-none">Inicio</a>
            </li>
            <li class="breadcrumb-item"><a href="{% url 'payroll:list_payslip' %}"
                    class="text-decoration-none">Roles</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nuevo Rol</li>
        </ol>
    </nav>
</div>


{% endblock %}


{% block extra_js %}
    <script src="{% static 'js/get_employee.js' %}"></script>
{% endblock %}