{% extends 'layout/base_nav.html' %}

{% load static %}
{% block title %}Agregar Empleado{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <header class="page-header">
        <h1 class="display-5 fw-bold text-primary">
            <i class="fas fa-user-md me-2"></i>{{ title }}
        </h1>
        <p class="lead text-muted">Registrar cargo</p>
    </header>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card mb-4">
                <div class="card-body p-4">

                    {% if error|length > 0%}
                        <div class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <!-- {{ form.as_p }} -->
                        <!-- Nombre -->
                        <div class="mb-4">
                            <label for="{{ form.description.id_for_label }}" class="form-label">
                                <i class="fas fa-user text-primary me-2"></i>{{ form.description.label }}
                            </label>
                            {{ form.description }}
                            {% if form.description.errors %}
                                <div class="text-danger mt-1">
                                    {{ form.description.errors }}
                                </div>
                            {% endif %}
                        </div>
                        
          
                        <div class="d-flex justify-content-between mt-4 pt-2">
                            <a href="{% url 'payroll:list_contract_types' %}" class="btn btn-secondary" style="color:white;">
                                <i class="fas fa-arrow-left me-2"></i>Cancelar
                            </a>
                            <button type="submit" class="btn btn-primary" style="color:white;">
                                <i class="fas fa-save me-2"></i>Guardar Tipo Contrato
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'payroll:dashboard' %}" class="text-decoration-none">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'payroll:list_contract_types' %}" class="text-decoration-none">Tipo de Contratos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nuevo Tipo Contrato</li>
        </ol>
    </nav>
</div>
      
{% endblock %}